/node_modules
/public/hot
/public/uploads
/public/storage
/bootstrap/cache/*
/storage/app/public
/vendor
/.idea
/.vagrant

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
composer.lock
readme
/public/fastshiphu-1ac6c-firebase-adminsdk-fbsvc-6827938595.json
