.locks-table .locks-password {
    padding: 0.375rem 0.75rem;
    width: 343px;
    height: 36px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #828282;
}

div#v-pills-locks .locks-table {
    background-color: white;
    height: 530px;
    padding-top: 80px;
    padding-left: 260px;
    margin-left: -35px;
}

.locks-table .locks-submit {
    width: 343px;
    height: 54px;
    border: 1px solid #5EDFDE;
    background: #5EDFDE;
    border-radius: 6px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.locks-table .field-icon {
    float: right;
    padding-right: 285px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
    color: #BDBDBD;
}

div#v-pills-locks label {
    width: 123px;
    height: 19px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}